#Tyneshia Buie | Investigate a Relational Database 5/15/2020

In [2]:
import pandas as pd

Query 1.) What are the most successful categories among the family movies
       
            JOIN, WHERE, GROUP BY, ORDER BY

In [ ]:
SELECT f.title, c.name AS category, 
    COUNT(r.rental_id) AS rental_count
FROM category c
        JOIN film_category fc
        ON c.category_id = fc.category_id
        JOIN film f
        ON f.film_id = fc.film_id
        JOIN inventory i
        ON f.film_id = i.film_id
        JOIN rental r
        ON i.inventory_id = r.inventory_id
    WHERE c.name IN ('Animation', 'Children', 'Classics', 'Comedy', 'Family', 'Music')
    GROUP BY 1, 2
    ORDER BY 2, 1

Query 2.) What is the distribution of family-friendly movies among the film categories and rental duration categories ?

           Window Function IN, INTILE

In [ ]:
SELECT f.title, c.name AS category, f.rental_duration,
        NTILE(4) 
            OVER(ORDER BY f.rental_duration) AS quartile
FROM category c
        JOIN film_category fc
        ON c.category_id = fc.category_id
        JOIN film f
        ON f.film_id = fc.film_id
    WHERE c.name 
        IN ('Animation', 'Children', 'Classics', 'Comedy', 'Family', 'Music')

Query 3.) How do the two stores compare in their count of rental orders ?

In [ ]:
SELECT DATE_PART('month',r.rental_date) AS rental_month,
       DATE_PART('year',r.rental_date) AS rental_year,
       sto.store_id,
       COUNT(*) AS rental_count
FROM rental AS r
        JOIN payment AS p
        ON r.rental_id = p.rental_id
        JOIN staff sta
        ON p.staff_id = sta.staff_id
        JOIN store sto
        ON sta.store_id = sto.store_id
    GROUP BY rental_month, rental_year, sto.store_id
    ORDER BY rental_count DESC;

Who are the top 10 paying customers ? How many did each paid in total ?
        
        subquery,boolean, WITH, LIMIT GROUPBY, ORDERBYWITH t1

In [ ]:
    WITH t1 AS(
SELECT first_name||' '||last_name AS fullname,
       SUM(p.amount) AS total_amount
FROM customer c
        JOIN payment p
        ON c.customer_id = p.customer_id
    GROUP BY 1
    ORDER BY  2 DESC LIMIT 10)

SELECT fullname,
       total_amount
FROM t1;